<!doctype html>
<html lang="en">
  <body>
    <h1>Add Environments</h1>
    <form action="/env/add" method="post">
    <label for="name">Environment Name:</label>
    <input type="text" name="name" /></br>
    <label for="masterIP">Kubernetes Master IP :</label>
    <input type="text" name="masterIP" /> </br>
    <label for="user">Kubernetes User :</label>
    <input type="text" name="user" /></br>
    <label for="password">Kubernetes Password :</label>
    <input type="password" name="password" /></br>
    <label for="defaultNameSpace">Kubernetes Default Namespace:</label>
    <input type="text" name="defaultNameSpace" /></br>
    <button type="submit">Submit</button>
    </form>
    
  </body>
</html>