<!doctype html>
<html lang="en">
  <body>
    <h1>Registration</h1>
    <a href="/">Home</a><br/>
    <form method="post">
	    <label for="username">User Name:</label>
	    <input type="text" name="username" /></br>
	    <label for="password">Password :</label>
	    <input type="password" name="password" /> </br>
	    <label for="passwordConfirm">Confirm Password :</label>
	    <input type="password" name="passwordConfirm" /> </br>
	    <label for="role">Role :</label>
	    <select name="role">
    	 {{#roles}}
   			<option value="{{name}}">{{name}}</option>
   		 {{/roles}}
    	</select> </br>
	    <button type="submit">Submit</button>
    </form>
  </body>
</html>