<!doctype html>
<html lang="en">
  <body>
  	<h1><a href="/">HOME</a>
    <h1>Deployments {{env}} on Namespace {{namespace}}</h1> <h2><a href="/hpa/getAll?env={{env}}&namespace={{namespace}}">Horizontal Pod Scaler</a></h2>
    <table style="width:100%" border="1">
    <tr>
    <th>Application</th>
    <th>ImageName</th>
    <th>Desired</th> 
    <th>Available</th>
    <th>Last Deployment Time</th>  
  </tr>
    {{#deployment}}
    	{{#items}}
    		<tr>
    			<td>{{metadata.name}} </td>
    			<td>
    			{{#spec.template.spec.containers}}
    			{{image}} 
    			{{/spec.template.spec.containers}}
    			</td>
    			<td>{{status.replicas}}</td>
    			<td>{{status.readyReplicas}}</td>
    			<td>{{status.conditions.0.lastUpdateTime}}</td>
    		</tr>
    	{{/items}}
    {{/deployment}}
    </table>
  </body>
</html>