<!doctype html>
<html lang="en">
  <body>
    <h1>Monitoring Dashboard</h1>
    </br>
    <a href="/logout">Logout</a>
    {{#isAdmin}}
      <a href="/env/home">Manage Environments</a>
      <a href="/registration">Add Users</a>
    {{/isAdmin}}
    <a href="/deployedApplications/home">Deployed Applications</a>
    <a href="/reports/index">Get Trends</a>
    </br>
    </br>
    <h3>Available Environments</h3>
    
    {{#environment}}
    <a href="/deployment/getDeployment?env={{name}}">{{name}}</a> </br>
    {{/environment}}
    
  </body>
</html>
